/* common */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
.color_w {
    color: white;
}
.text_up {
    text-transform: uppercase;
}
/* nav */
.container {
    display:flex;
}
nav {
    width: 250px;
    height: calc(100vh - 80px);
    position: relative;
    font-size: 12px;
    font-weight: bold;
    background-color: black;
    color: #717171;
}
nav .nav_first_list li,
nav .nav_second_list li  {
    display: flex;
    padding-top : 10px;
}
nav .nav_first_list a {
    align-self: center;
    text-decoration: none;
    padding-left: 10px;
    color: #717171;
}
nav h5 {
    font-size: 12px;
    padding-top : 20px;
    padding-bottom : 10px;
}
.plus {
    font-size: 40px;
}
.nav_container {
    padding: 30px;
}
.nav_first_list {
    padding-top: 20px;
}
nav .logo {
    height: 50px;
}
.mini_logo {
    display: none;
}
.nav_little_logos {
    display: inline-block;
    height: 25px;
}
nav .nav_second_list a {
    text-decoration: none;
    color: #717171;
}
nav .nav_second_list li {
    padding: 10px 0;
}
.new_playlist {
    font-size: 16px;
    padding-left: 10px;
    vertical-align: middle;
}
.nav_third_list {
    position: absolute;
    bottom: 1%;
}
nav .nav_third_list li {
    padding: 10px 0;
    line-height: 10px;
    vertical-align: middle;
}
nav hr {
    width: 200%;
    border: 1px solid #717171;
    color:#717171;
}
nav .nav_third_list img {
    height: 20px;
    margin-right: 10px;
    border-radius: 20px;
    vertical-align: middle;
}
nav .nav_third_list .profile {
    background-color: #717171;
}

/* main */
main {
    height: 100vh;
    width: calc(100% - 250px);
    overflow-y: auto;
    padding-top: 110px;
    padding-bottom: 85px;
    background-color: aqua;
}
.opacity {
    opacity: 0.9;
}
.main_header {
    position: fixed;
    top:0;
    height: 100px;
    width: calc(100% - 250px);
    color: white;
    background-color: #080B13;
}
#upgrade {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid white;
    margin: 30px 0;
    background-color: transparent;
    color: white;
}
.main_header a {
   text-decoration: none;
   color: white;
}

/* footer */
footer {
    width: 100%;
    height: 80px;
    background-color: green;
    position: absolute;
    bottom: 0;
}



/* queries */
@media screen and (max-width: 767px) {
    nav {
        width: 70px;
    }
    nav .nav_first_list a,
    nav .nav_second_list li,
    nav .nav_third_list,
    nav h5,
    .logo {
        display: none;
    }
    nav .nav_little_logos {
        height: 30px;
        margin-left : 18px;
    }
    .main_header {
        width: calc(100% - 70px);
    }
    .nav_container {
        padding: 0;
    }
    .mini_logo {
        display: block; 
        height: 30px;
        margin: 18px;
    }
    main {
        width: calc(100% - 50px);
    }
  
}